* {
    font-family: var(--font-poppins);
}
html,
body {
    margin: 0px;
    padding: 0px;
    font-size: 10px;
    font-weight: 400;
    scroll-behavior: smooth;
}

:root {
    --bb: 1px solid aqua;
    --bg-white: #fff;
    --light-gray: #FAFAFA;
    --gray: #BEBEBE;
    --heading-color: #1F1F1F;
    --black-text-color: #000000;
    --grient: url(../../../AppData/Local/Temp/Rar\$DRa2828.14273/vuesax/linear/messages2.png);
    --font-poppins: poppins;
}

h1 {
    font-family: var(--font-poppins);
    color: var(--black-text-color);
    font-size: 6.7rem;
    font-weight: 600;
    line-height: 8rem;
}

h2 {
    font-family: var(--font-poppins);
    color: var(--black-text-color);
    font-weight: 600;
    font-size: 5rem;
    Line-height: 6rem;
}

h3 {
    font-family: var(--font-poppins);
    color: var(--black-text-color);
    font-weight: 600;
    font-size: 3.3rem;
    Line-height: 2.8rem;
}

h4 {
    font-family: var(--font-poppins);
    color: var(--black-text-color);
    font-weight: 600;
    font-size: 2.1rem;
    Line-height: 2.5rem;
}

p {
    font-family: var(--font-poppins);
    color: var(--black-text-color);
    font-weight: 400;
    font-size: 1.6rem;
    Line-height: 2.4rem;
}
::-webkit-scrollbar {
    width: 1.5rem;
}
::-webkit-scrollbar-track {
    background: #FBD9B9;
}
::-webkit-scrollbar-thumb {
    background: #C1DEE8 ;
}
a,
a:active,
a:focus,
a:hover,
button {
    text-decoration: none;
    outline: 0;
}

section {
    padding:12rem 0 0 0;
    width: 100%;
    margin: 0 auto;
    max-width: 128rem;
}

.full-nav {
    width: 100%;
    height: 9rem;
    background-color: var(--bg-white);
    position: sticky;
    z-index: 10;
    top: 0;
}

.header-main {
    max-width: 128rem;
    height: 9rem;
    background-color: var(--light-gray);
    border-radius: 70px;
    margin: 0 auto;
    text-align: center;
}

.header-main .navbar {
    padding: 2rem 5rem;
}

.header-main .navbar-nav {
    border-radius: 70px;
    background-color: var(--bg-white);
    padding: 1rem 2rem;
}
.navbar-toggler {
    z-index: 20;
    color: var(--heading-color);
}
.header-main .navbar-nav .nav-link {
    color: var(--heading-color);
    font-family: var(--font-poppins);
    font-weight: 400;
    font-size: 1.6rem;
    Line-height: 1.9rem;
    padding: .5rem .5rem;
    margin: 0 0.5rem;
}

.header-right span {
    color: var(--heading-color);
    font-family: var(--font-poppins);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.9rem;
    padding: 1rem 3rem;
}

.header-right .contact-us {
    font-family: var(--font-poppins);
    padding: 1rem 3rem;
    background-color: var(--bg-white);
    border: 1px solid var(--heading-color);
    border-radius: 70px;
}
.navbar-toggler span {
    font-size: 2.5rem;
    color: var(--heading-color);
}

.her {
    padding-top: 3rem;
}
.hero-section {
    border: var(--bb);
    width: 100%;
    height: 61.7rem;
    background: rgb(193,222,232);
    background: linear-gradient(90deg, rgba(193,222,232,1) 0%, rgba(251,217,185,1) 73%);
    border-radius: 15px;
    display: flex;
}

.hero-left { 
    width: 50%;
    height: 61.7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.3rem;
    padding-left: 5rem;
}
.hero-left input {
   background-color: var(--bg-white);
   width: 46.9rem;
   height: 6rem;
   border-radius: 40rem;
   outline: none;
   border: 0.2rem solid var(--gray);
   padding-left: 2.4rem;
   font-size: 1.6rem;
}

.hero-left .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15.rem;
    height: 6rem;
    font-family: var(--font-poppins);
    font-size: 1.6rem;
    padding: 1rem 3rem;
    background-color: var(--black-text-color);
    color: var(--bg-white);
    border-radius: 70px;
    position: absolute;
    right: 0;
    top: 0;
}
.hero-right {
    width: 50%;
    height: 61.7rem;
    right: 0;
    bottom: -3rem;
    position: relative;

}
/* .hero-img {
    width: 100%;
} */
.hero-right img {
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
}

.features-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 8rem 0;
}
.features {
    width: 100%;
    padding: 5rem 0  0 0;
}
.features-sec {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.icon-sec {
    width: 100%;
}
.features-box {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 4.2rem;
}
.features-icon1 span {
    font-size: 5rem;
    color: #58BF52;
}
.features-icon2 span {
    font-size: 5rem;
    color: #FF791A;
}
.features-icon3 span {
    font-size: 5rem;
    color: #3741B5;
}


.project-sec {
    width: 100%;
    /* margin: 6rem 0 6rem 0; */
}
.project-text {
    padding: 0 0 5rem 5rem;
}
.project-carts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card {
    width: 30%;
    overflow: hidden;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}
.card-img {
    width: 100%;
}
.card-body h4,
.card-body p,
.card-body img {
    padding-bottom: 1.6rem;
}


.agent-sec {
    /* margin: 7rem 0 7rem 0; */
}
.agent-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.agent-container {
    padding-top: 3.4rem;
    width: 100%;
    height: 57.7rem;
    margin: 0 auto;
    display: flex;
}
 
.agent-left {
    width: 50%;
    display: flex;
    flex-direction: column;
     justify-content: center;
     padding-left: 5rem;
     gap: 3.2rem;
}
.agent-left p {
    width: 47.4rem;
}
.agent-right {
    width: 50%;
    position: relative;

}
.agent-right img {
    width: 80%;
    position: absolute;
    right: 0;
}
.agent-btn {
    display: flex;
    gap: 2.4rem;
}
.agent-btn .bok-now {
    font-family: var(--font-poppins);
    padding: 1rem 3rem;
    background-color: var(--black-text-color);
    color: var(--bg-white);
    border-radius: 70px;
}
.agent-btn .red-more {
    font-family: var(--font-poppins);
    padding: 1rem 3rem;
    background-color: var(--bg-white);
    border: 1px solid var(--heading-color);
    border-radius: 70px;
}

.agent-detail {
    width: 47.4rem;
    display: flex;
    justify-content: space-between;
    gap: 2.4rem;
}
.agent-box {
    box-sizing: border-box;
    border: 1px solid red;
    width: 20%;
    height: 8rem;
}

footer {
    width: 100%;
    max-width: 128rem;
    margin: 5rem 0;
    margin: 0 auto;
    margin: 20.6rem auto 0 auto;
    height: 45.7rem;
    background: rgb(193,222,232);
    background: linear-gradient(90deg, rgba(193,222,232,1) 0%, rgba(251,217,185,1) 73%);
    border-radius: 15px;
    display: flex;
}

.footer-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    justify-content: center;
    padding-left: 2.4rem;
}
.input-box {
    width: 46.9rem;
    position: relative;
}
.footer-left p {
    width: 52.6rem;
    height: 9.6rem;
}
.input-box input {
background-color: var(--bg-white);
width: 46.9rem;
height: 6rem;
border-radius: 40rem;
outline: none;
border: 0.2rem solid var(--gray);
padding-left: 2.4rem;
font-size: 1.6rem;
}

.footer-left .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15.rem;
    height: 6rem;
    font-family: var(--font-poppins);
    font-size: 1.6rem;
    padding: 1rem 3rem;
    background-color: var(--black-text-color);
    color: var(--bg-white);
    border-radius: 70px;
    position: absolute;
    right: 0;
    top: 0;
}
.footer-right {
    width: 50%;
    position: relative;
}
.footer-pic {
    position: absolute;
    right: 0;
    bottom: -30;
}
.footer-right img {
    width: 80%;
}








     /* Meadia Queries*/

@media only screen and (max-width: 1280px) {
    .header-main,
    section,
    footer {
        max-width: 1152px;
    }
}

@media only screen and (max-width: 1200px) {
    h1 {
        font-size: 5.7rem
    }
    h2 {
        font-size: 4rem;
    }

    .header-main,
    section,
    footer {
        max-width: 992px;
    }   
    .input-box input,
    .hero-left input {
        width: 36.9rem;
     }
     .footer-left .btn,
     .hero-left .btn {
         right: 10rem;
     }
}

/* Medium devices (Small desktops) */
@media only screen and (max-width: 992px) {
    h1 {
        font-size: 4.7rem;
        line-height: 6rem;
    }
    h2 {
        font-size: 4rem;
        line-height: 5rem;
    }
    h3 {
        font-size: 3rem
    }
    section,
    footer {
        max-width: 768px;
    }
    .header-main {
        width: 100%;
        border-radius: 0;
    }
    .header-main .navbar-nav {
        border-radius: 15px;
        background: rgb(251,217,185);
        background: radial-gradient(circle, rgba(251,217,185,1) 0%, rgba(193,222,232,1) 73%);
    }

    .header-right {
        display: none;
    }
    .hero-right img {
        width: 110%;
    }
    .input-box input,
    .hero-left input {
    width: 21.9rem;
    font-size: 1.2rem;;
    }

    .features-sec {
        gap: 1.2rem;
    }

    .footer-left .btn,
    .hero-left .btn {
     width: 12rem;
     right: 20rem;
     font-size: 1.2rem;
     padding: .5rem 1.5rem;
    }

    .agent-left p {
        width: 35rem;
    }
    .footer-left p
    {
        height: 30rem
    }

    .footer-pic img {
        width: 100%;
    }
    .agent-picture img {
        width: 90%;
    }
}

/* Small devices (Tablets) */
@media only screen and (max-width: 768px) {

    h1 {
        font-size: 3.7rem
    }
    h2 {
        font-size: 3rem;
    }
    h3 {
        font-size: 2.5rem;
    }
    .hero-section{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 90rem;
    }
    .hero-left  {
        width: 100%;
    }
    .hero-right {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
    } 
    .hero-right img {
        width: 100%;
    }
    .hero-right {
        width: 100%;
        border: 1px solid red;
    }
    .features-sec {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.6rem;
    }
    .features-box {
        text-align: center;
        width: 50%;
        gap: 1.2rem;
    }
    .project-carts {
        width: 90%;
        flex-direction: column;
        margin: 0 auto;
        gap: 2.4rem;
    }
    .card {
        width: 100%;
\    }
    footer {
        flex-direction: column;
        height: 95rem;
        padding: 6.4rem 0 0 0;
    }
 
    .input-box input,
    .hero-left input {
    width: 100%;
    font-size: 1.6em;;
    } 
    .hero-left .btn,
    .footer-left .btn {
        width: 100%;
        font-size: 2.4rem;
        position: unset;
        width: 100%;
        margin: 1.6rem 0 0 0;
    } 
    .input-box {
        width: 90%;
     }

     .footer-left {
        align-items: center;
        width: 100%;
        height: 35%;

     }
     .footer-right {
        height: 50%;
        width: 100%;
     }
     .footer-pic {
        width: 100%;
        position: unset;
     }
     .footer-pic img {
        width: 100%;
     }
    } 



/* Extra Small (Mobile devices) */
@media only screen and (max-width: 576px) {}


